[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cbl"]
	path = cbl
	url = https://github.com/dswatson/cbl
[submodule "leakyIV"]
	path = leakyIV
	url = https://github.com/dswatson/leakyiv
